.tab-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0 0 20px 20px;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area {
    -fx-background-color: #1c2041;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab-pane .tab-content-area {
    -fx-background-color: #050507;
    -fx-padding: 0;
    -fx-border-color: #097dfe;
    -fx-border-width: 1px;
    -fx-border-radius: 0 0 20px 20px;
}

.tab-pane .tab {
    -fx-background-color: #050507;
    -fx-border-color: #097dfe;
    -fx-border-width: 1px;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}


.tab-pane .tab:selected {
    -fx-background-color: #1a1f3c;
    -fx-border-color: transparent;
    -fx-border-width: 1px;


}




